 form {
            display: flex;
            align-items: center;
        }

        input {
            display: block;
            width: 0 auto;
            margin: 0 auto;
            border:1px solid #ccc;
        }