{% extends 'index1.html' %}

{% block content %}
  <form  method="post">
      <!--引入文本框-->
      <label>缓存预加载，一行一个：</label>
<textarea class="textarea" placeholder="e.g. Hello world" name="cachereget"> </textarea>
<!-- 引入按钮-->
      <button class="button">提交</button>
    </form>

  <form  method="post">
      <!--引入文本框-->
      <label>四层加速（写入ip一行一个）</label>
<textarea class="textarea" placeholder="写入ip一行一个" name="sicengjiasu"> </textarea>
<!-- 引入按钮-->
      <button class="button">提交</button>
    </form>
{% endblock %}