
     <!--form  method="post">
         <label>输入白名单ip</label>
         <input type="text"  value= "{{  recent_white_ip }}"   name="whiteip" > </br>
         <input  type="submit" name="提交">{{msg}}
     </form-->
{% extends 'index1.html' %}
{% block content %}
     <label>添加白名单：</label>
  <form  method="post">
      <!--引入文本框-->
      <label>白名单添加：</label>
<textarea class="textarea" placeholder="e.g. Hello world" name="whiteip"> {{  recent_white_ip   }} </textarea>
<!-- 引入按钮-->
      <button class="button">提交</button>
    </form>
{% endblock %}

