<!DOCTYPE html>
 <html>
 <head>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
     <meta  charset="UTF-8">
     <title>用户登录</title>
 </head>
 <body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="http://192.168.0.26:5000/">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          防御策略
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="http://192.168.0.26:5000/whiteip">
            白名单
          </a>
          <a class="navbar-item" href="http://192.168.0.26:5000/blackip">
            黑名单
          </a>
          <a class="navbar-item" href="http://192.168.0.26:5000/ua">
            UA策略配置
          </a>
             <a class="navbar-item" href="http://192.168.0.26:5000/cc">
            cc防御配置
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="http://192.168.0.26:5000/country">
            区域访问配置
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
     <!--form  method="post">
         <label>输入白名单ip</label>
         <input type="text"  value= "{{  recent_white_ip }}"   name="whiteip" > </br>
         <input  type="submit" name="提交">{{msg}}
     </form-->

  <form  method="post">
      <!--引入文本框-->
      <label>白名单添加：</label>
<textarea class="textarea" placeholder="e.g. Hello world" name="whiteip"> {{  recent_white_ip   }} </textarea>
<!-- 引入按钮-->
      <button class="button">提交</button>
    </form>



 </body>
 </html>
